<!DOCTYPE html>
<html>
  <head>
    <title>FLOOD RESCUE SYSTEM</title>
    <style>
      button {
        margin-top: 20px;
        margin-left: 400px;
        background-color: red;
        width: 150px;
        height: 30px;
      }
    
    </style>
  </head>
  <body style="background-image:url('static/cover.jpg')";> 
    <img src='static/logo.jpg' width="40" height="40" /> <h2 >Techversant Infotech</h2>
        <div id='main'>  
    <h1 style="margin-top: 200px;margin-left:300px;color:black;">WELCOME TO FLOOD RESCUE SYSTEM</h1>
    <h3 style="margin-top: 80px;margin-left:400px;color:black;">EXPLORE NOW !</h3>
          
</div>  
<button><a href="/form"
    <span>click Here</span>
    </a></button>
  </body>
</html>